<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <!-- The proxy servlet is only used by the development server. -->
  <servlet>
    <servlet-name>proxy</servlet-name>
    <servlet-class>com.swirlycloud.web.ProxyServlet</servlet-class>
    <init-param>
	  <param-name>module</param-name>
	  <param-value>backend</param-value>
	</init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>proxy</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>trader</web-resource-name>
      <url-pattern>/trader.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>admin</web-resource-name>
      <url-pattern>/admin.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
</web-app>
