<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>asset</servlet-name>
    <servlet-class>org.doobry.web.RecServlet</servlet-class>
    <init-param>
      <param-name>recType</param-name>
      <param-value>ASSET</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>contr</servlet-name>
    <servlet-class>org.doobry.web.RecServlet</servlet-class>
    <init-param>
      <param-name>recType</param-name>
      <param-value>CONTR</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>user</servlet-name>
    <servlet-class>org.doobry.web.RecServlet</servlet-class>
    <init-param>
      <param-name>recType</param-name>
      <param-value>USER</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>order</servlet-name>
    <servlet-class>org.doobry.web.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>asset</servlet-name>
    <url-pattern>/api/asset</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>contr</servlet-name>
    <url-pattern>/api/contr</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>user</servlet-name>
    <url-pattern>/api/user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>order</servlet-name>
    <url-pattern>/api/order/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>400</error-code>
    <location>/error/400.json</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error/404.json</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/error/405.json</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error/500.json</location>
  </error-page>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>api</web-resource-name>
      <url-pattern>/api/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>
</web-app>
